.DS_Store
node_modules
/grid
/lib
.env
appstate.json
# local env files
.env.local
.env.*.local
.config.ts

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
